.contacts {
  margin-top: 20px;
}
.contacts__items {
  margin-top: 20px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.contacts__item {
  font-size: 14px;
}
.contacts__label {
  color: #a4a5a6;
  margin-bottom: 5px;
  font-size: 16px;
}
.contacts__social-btns {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.social-btn {
  border-radius: 3px;
  height: 40px;
  width: 40px;
  background: #ededed;
  border: 1px solid #ededed;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.social-btn:hover {
  background: white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.projects__link {
  padding: 15px;
  background: #ededed;
  background: white;
  border: 2px solid #ededed;
  text-decoration: none;
  color: #727272;
  display: block;
  border-radius: 5px;
  transition: all 0.3s;
}
.projects__link:hover {
  background: #ededed;
}

.project-card {
  /*width: calc(50% - 20px);
  margin:10px 10px;*/
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  position: relative;
  border-bottom: 5px solid #1e94fe;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.project-card__image-wrap {
  width: 100%;
  height: 200px;
}
.project-card__image {
  background: #4a5568;
  width: 100%;
  height: 100%;
}
.project-card__body {
  padding: 25px;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.project-card__title {
  color: black;
  font-weight: 300;
  text-align: left;
  margin: 20px 0;
  font-size: 22px;
}
.project-card__description {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.project-card__links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
  top: 5px;
}
.project-card__link {
  padding: 2px;
  font-size: 18px;
}
.project-card__more-btn {
  margin-top: 25px;
  color: #2196fe;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 5px;
}
.tags__item {
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  padding: 2px 5px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 10px;
}

.feedback {
  padding: 20px;
  width: 500px;
  margin: auto;
}
.feedback__inside {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.feedback__left, .feedback__right {
  flex: 1 0 0;
  padding: 5px;
}
.feedback__right {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 10px;
}
.field__label {
  margin-bottom: 5px;
  display: block;
}
.field__input, .field__textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #bebed2;
  outline: 0;
  background: #ededed;
  border-radius: 5px;
  transition: all 0.3s;
}
.field__input:focus, .field__textarea:focus {
  border-color: #78788c;
}
.field__textarea {
  resize: none;
  height: 170px;
}
.field__button {
  padding: 10px 20px;
  background: 0;
  outline: 0;
  color: #5a5a6e;
  border: 0;
  background: #ededed;
  border-radius: 5px;
  border-bottom: 2px solid #bebed2;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.field__button:hover {
  border-color: #78788c;
}
