@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);
* {
  box-sizing: border-box;
}

body {
  background: #e7e8f2;
  background: white;
  color: #555;
  font-family: Roboto Mono, monospace;
  margin: 0;
}

.header {
  background: #4a5568;
  padding-top: 50px;
  margin-bottom: 50px;
}

.personal {
  max-width: 1000px;
  width: 100%;
  color: white;
  margin: auto;
  display: flex;
}
.personal__image {
  padding: 0 10px;
  border: 1px solid white;
  width: 300px;
  margin-right: 50px;
}
.personal__info {
  padding: 0 10px;
}
.personal__name {
  font-size: 40px;
}
.personal__body {
  margin-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
.container__second-title {
  color: #999;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.project-card {
  width: calc(50% - 20px);
  background-color: white;
  position: relative;
  margin: 10px 10px;
  border-bottom: 5px solid #1e94fe;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.project-card__image-wrap {
  width: 100%;
  height: 200px;
}
.project-card__image {
  background: #4a5568;
  width: 100%;
  height: 100%;
}
.project-card__body {
  padding: 0 25px 25px 25px;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100% - 200px);
}
.project-card__title {
  color: black;
  font-weight: 300;
  text-align: left;
  margin: 20px 0;
  font-size: 22px;
}
.project-card__description {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.project-card__link {
  width: 100px;
  height: 25px;
  background: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png") 50% 50% no-repeat;
  display: block;
  background-size: cover;
}
.project-card__more-btn {
  margin-top: 25px;
  color: #2196fe;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 5px;
}
.tags__item {
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  padding: 2px 5px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 10px;
}

.education {
  padding-left: 25px;
  padding-bottom: 30px;
  position: relative;
  border-left: 1px solid #1e94fe;
}
.education:before {
  width: 12px;
  height: 12px;
  border: 2px solid #1e94fe;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  left: -8px;
}
.education__title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.education__date {
  color: #999;
  font-size: 12px;
  margin-bottom: 20px;
}

.footer {
  padding: 50px;
  background: #646464;
  color: white;
}
.footer__inside {
  max-width: 1000px;
  margin: auto;
}

.contacts__social-link {
  color: inherit;
  display: block;
}
