@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4mjoe6');
  src:  url('../fonts/icomoon.eot?4mjoe6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4mjoe6') format('truetype'),
    url('../fonts/icomoon.woff?4mjoe6') format('woff'),
    url('../fonts/icomoon.svg?4mjoe6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mysql:before {
  content: "\e901";
  /*color: #4479a1;*/
}
.icon-jquery:before {
  content: "\e900";
 /* color: #0769ad;*/
}
